data/edges/links.txt
data/edges/titles.txt
data/instance_types/instance_types.txt
*.pyc
*.pk1
data/wiki_index/articles.txt
data/wiki_index/index.txt
data/lda/corpus.txt
!code/bin/article_names_30k.pk1
!code/bin/adj_list_30k.pk1
!code/bin/article_pairs.pk1
